@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Zen+Tokyo+Zoo&display=swap');

body{
  background-color: white;
  margin: 0px;
}

nav{
  font-family: 'Oswald', sans-serif;
  font-size: 300%;
  background-color: rgb(48 49 52);
  height: 10vh;
}

nav a{
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: rgb(243 63 249);
  float: none;
}

nav a:hover{
  color: rgb(71 221 232);
}

.stock {
  width: 12.5%;
  margin: 0px;
  float: left;
}

.stock_image {
  text-align: center;
  width: 80%;
  height: 20vh;
  margin: 10%;
  position: relative;
}

.stock_image  img{
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

}

.stock_name {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 100%;
  width: 100%;
}

.stock_name a{
  text-decoration: none;
  color: rgb(48 49 52);
}

.stock_name a:hover {
  text-decoration: underline;
  color: rgb(243 63 249);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
