@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Zen+Tokyo+Zoo&display=swap');

:root{
  --gold: #d1b039;
  --charcoal: rgb(48 49 52);
  --silver: #aab1b5;
}


/* Whole Site Styling */
body{
  background-color: white;
  margin: 0px;
  height: 100%;
  overflow-x: hidden;
}

.wrapper {
  min-height: 100vh;
}


/* Nav Styling */
nav{
  font-family: 'Oswald', sans-serif;
  font-size: 300%;
  background-color: var(--charcoal);
  height: 10vh;
  text-align: center;
}

nav a{
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: var(--gold);
  float: none;
}

nav a:hover{
  color: var(--silver);
}


/* Home Styling */
.home_wrapper{
  margin: auto;
  width: 100%;
  height: 90vh;
  scroll-behavior: smooth;
  background-image: url("bround2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: table;
  top: 0;
}

.home_wrapper .title {
  text-align: center;
  vertical-align: center;
  margin: 30%;
  margin-top: 20%;
}
.home_wrapper .title p{
  font-family: 'Oswald', sans-serif;
  font-size: 500%;
  text-align: center;
  color: var(--gold);
  background-color: var(--charcoal);
}


/* Login And Register Styling */
.login {
  height: 100vh;
  width: 100%;
  background-color: var(--charcoal);
}

.register {
  height: 100vh;
  width: 100%;
  background-color: var(--charcoal);
}

.upper_box{
  height: 10%;
}

.inner_box {
  width: 50%;
  height: 50%;
  padding: 5%;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 10%;
  padding-bottom: 0%;
  text-align: center;
  border-radius: 2%;
  border: 4px solid var(--gold);
}

.inner_box input{
  height: 30px;
  width: 50%;
  background-color: var(--silver);
  font-family: font-family: 'Oswald', sans-serif;
  border-radius: 5px;
  padding: 5px;
  margin: 1%;
}

.login .error{
  height: 20px;
  font-size: 10px;
  font-family: font-family: 'Oswald', sans-serif;
  color: red;
}


/* Admin Styling */
.wrapper {
  background-color: var(--charcoal);
}

.create_delete_radio {
  color: var(--gold);
  font-family: font-family: 'Oswald', sans-serif;
  font-size: 30px;
  width: 100%;
  text-align: center;
  padding-top: 2%;
}

.create_delete_radio .create{
  width: 33.3%;
  margin: 0px;
  height: 100%;
  float: left;
}

.create_delete_radio .update{
  width: 33.3%;
  margin: 0px;
  height: 100%;
  float: left;
}

.create_delete_radio .delete{
  width: 33.3%;
  margin: 0px;
  height: 100%;
  float: right;
}

.create_stock {
  width: 28.8%;
  height: 50vh;
  float: left;
  text-align: center;
  margin: 2%;
  margin-top: 0px;
  border: 4px solid var(--gold);
  border-radius: 4px;
  padding-top: 4%;
}

.delete_stock {
  width: 28.8%;
  height: 50vh;
  float: right;
  text-align: center;
  margin: 2%;
  margin-top: 0px;
  border: 4px solid var(--gold);
  border-radius: 4px;
  padding-top: 4%;
}

.update_stock {
  width: 28.8%;
  height: 50vh;
  float: left;
  text-align: center;
  margin: 2%;
  margin-top: 0px;
  border: 4px solid var(--gold);
  border-radius: 4px;
  padding-top: 4%;
}

.update_stock .error{
  height: 20px;
  font-size: 20px;
  font-family: font-family: 'Oswald', sans-serif;
  color: red;
}


/* Stock Styling */
#chart_div{
  margin: 0px;
  float: left;
  width: 60%;
  height: 500px;
}

.stock_page .info{
  padding: 5%;
  padding-left: 0%;
  width: 35%;
  margin: 0px;
  float: right;
  text-align: center;
}

.stock_page .info{
  color: var(--gold);
}

.stock_page .graph_info p{
  color: var(--silver);
  width: 40%;
}

.stock_page .info p{
  color: var(--silver);
}

.stock_page .info a{
  color: var(--gold);
  font-style: none:
  font-family:  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.stock_page .trade, .option{
  margin-left: 10%;
}

.stock_page .trade select input{
  width: 100px;
  border-style: none;
  text-align: center;
  color: var(--gold);
  background-color: var(--silver;)
}


/* All Stock Styling */

.all_stock_wrapper{
  background-color: white;
  height: 100vh;
}

.stock_filter{
  width: 14%;
  float: left;
  margin: 0px;
  background: var(--charcoal);
  height: 100vh;
  padding-top: 2%;
  padding-left: 1%;
  color: var(--silver);
}

.stock_filter b{
  color: var(--gold);
}

.all_stock_wrapper .stock_info{
  width: 85%;
  float: right;
  margin: 0px;
}

.all_stock_wrapper .stock_info input{
  width: 5px;
}

.all_stock_wrapper .search{
  margin-bottom: 5px;
}

.stock {
  width: 12.5%;
  margin: 0px;
  float: left;
}

.stock_image {
  text-align: center;
  width: 80%;
  height: 20vh;
  margin: 10%;
  position: relative;
}

.stock_image  img{
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

}

.stock_name {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 100%;
  width: 100%;
}

.stock_name a{
  text-decoration: none;
  color: var(--gold);
}

.stock_name a:hover {
  text-decoration: underline;
  color: var(--silver);
}


/* User Styling */
#reciepts {
  display: none;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: var(--silver);
  padding: 10%;
}

td, th {
  border: 1px solid var(--gold);
  text-align: left;
  padding: 8px;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

footer {
  height: 75px;
  width: 100%;
  background: var(--charcoal);
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: var(--gold);
  text-align: center;
  margin: 0px;
  position: absolute;
}

footer p {
  margin: 0px;
  color: var(--silver);
}
