{% extends 'layout.html' %}
{% block content %}
    <div class="all_stock_wrapper">
      {% for stocks in stock_info %}
        <div class="stock">
          <div class="stock_image">
            <a href = "{{ url_for('stock', symbol = stocks.symbol) }}"> <img src = "static/{{ stocks.logo }}" alt = "img" > </a>
          </div>
          <div class="stock_name">
            <a href = "{{ url_for('stock', symbol = stocks.symbol) }}"> {{ stocks.name }} </a>
          </div>
        </div>
    {% endfor %}
  </div>
{% endblock %}
