{% extends 'layout.html' %}
{% block content %}
<div class="deposit">
  <div class="upper_box">
  </div>
  <div class="inner_box">
    <form method="POST">
      <h1> Deposit Funds </h1>
      <p> Current Balance: ${{ user.balance }}</p>
      <p>{{ form.money(placeholder="Amount Of Money") }}</p>
      <p>{{ form.card(placeholder="Card Number") }}</p>
      <p>{{ form.cvv(placeholder="CVV") }}</p>
      <div class="submit">
        <input type="submit"></input>
      </div>
      <p>{{ work_status }}</p>
    </form>
  </div>
</div>
{% endblock %}
