{% extends 'layout.html' %}
{% block content %}
<div class="login">
  <div class="upper_box">
  </div>
  <div class="inner_box">
    <form method="POST">
      <h1> Login </h1>
      {{ form.csrf_token }}
      {{ form.email(placeholder="Examle@Email.com") }}
      {{ form.password(placeholder="Password") }}
      <div class = "submit">
        <input type="submit"></input>
      </div>
      <div class="error">
        <h3>{{ error }}
        {{ form.email.errors[0] }}
        {{ form.password.errors[0] }}</h3>
      </div>
    </form>
  </div>
</div>
{% endblock %}
