{% extends 'layout.html' %}
{% block content %}
<div class="register">
  <div class="upper_box">
  </div>
  <div class="inner_box">
    <form method="POST" enctype="multipart/form-data">
      <h1> Register </h1>
      {{ form.csrf_token }}
      {{ form.user_name(placeholder="Name") }}
      {{ form.email(placeholder="Examle@Email.com") }}
      {{ form.password(placeholder="Password") }}
      <div class="error">
        {{ form.user_name.errors[0] }}
        {{ form.password.errors[0] }}
        {{ form.email.errors[0] }}
      </div>
      <div class = "submit">
        <input type="submit"></input>
      </div>
      <div class="error">
        <h3>{{ error }}</h3>
      </div>
    </form>
  </div>
</div>
{% endblock %}
