<!DOCTYPE html>
{% include 'nav.html' %}
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
      ['Time', 'Price'],
      {% for data in stock %}
        ['{{ data[0] }}', {{ data[1] }}],
      {% endfor %}
        ]);

        var options = {
          title: '{{ stock_info.name }}',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
</head>
<body>
  <div id="curve_chart" style="width: 900px; height: 500px"></div>
  <div class="option">
    <form method="POST">
      <select name="period" id="period">
        <option value="max">Max</option>
        <option value="5y">5 Years</option>
        <option value="2y">2 Years</option>
        <option value="1y">1 Year</option>
        <option value="6mo">6 Months</option>
        <option value="1mo">1 Month</option>
        <option value="14d">2 Weeks</option>
        <option value="7d">1 Week</option>
        <option value="2d">2 Days</option>
        <option value="1d">1 Day</option>
        <option value="1h">1 Hour</option>
      </select>
      <input type="submit" id="submit"></input>
    </form>
  </div>
  <div class="trade">
    <a href = "{{ url_for('trade', symbol = stock_info.symbol) }}"> Trade </a>
  </div>
  <div class="info">
    <h1>{{ stock_info.name }}</h1>
    <h2>{{ stock_info.symbol }}</h2>
    <p>{{ stock_info.description }}</p>
  </div>
</body>
