<!DOCTYPE html>
{% extends 'layout.html' %}
{% block content %}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    // google.charts.load('current', {'packages':['corechart']});
    // google.charts.setOnLoadCallback(drawChart);
    //
    // function drawChart() {
    //   var data = google.visualization.arrayToDataTable([
    // ['Time', 'Price'],
    // {% for data in stock %}
    //   ['{{ data[0] }}', {{ data[1] }}],
    // {% endfor %}
    //   ]);
    //
    //   var options = {
    //     title: '{{ stock_info.name }}',
    //     legend: { position: 'bottom' }
    //   };
    //
    //   var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
    //
    //   chart.draw(data, options);
    // }
google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'X');
      data.addColumn('number', 'Stock Price');

      data.addRows([
        {% for data in stock %}
          // [new Date({{ data[0].year }}, {{ data[0].month }}, {{ data[0].day }}, {{ data[0].hour }}, {{ data[0].minutes }}), {{ data[1] }}],
          ['{{ data[0].strftime('%d-%m-%Y') }}', {{ data[1] }}],
        {% endfor %}
      ]);

      var options = {
        hAxis: {
          title: 'Time'
        },
        vAxis: {
          title: 'Popularity'
        },

        colors: ['#f33ff9']

      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
  </script>
<body>
  <div id="chart_div" style="width: 900px; height: 500px"></div>
  <div class="option">
    {% for info in price_info.items() %}
        <b>{{ info[0] }}:</b> {{ info[1] }},
    {% endfor %}
    <form method="POST">
      <select name="period" id="period">
        {% if period == "max": %}
          <option value="max" selected>Max</option>
        {% else: %}
          <option value="max">Max</option>
        {% endif %}

        {% if period == "5y": %}
          <option value="5y" selected>5 Years</option>
        {% else: %}
          <option value="5y">5 Years</option>
        {% endif %}

        {% if period == "2y": %}
          <option value="2y" selected>2 Years</option>
        {% else: %}
          <option value="2y">2 Years</option>
        {% endif %}

        {% if period == "1y": %}
          <option value="1y" selected>1 Year</option>
        {% else: %}
          <option value="1y">1 Year</option>
        {% endif %}

        {% if period == "6mo": %}
          <option value="6mo" selected>6 Months</option>
        {% else: %}
          <option value="6mo">6 Months</option>
        {% endif %}

        {% if period == "1mo": %}
          <option value="1mo" selected>1 Month</option>
        {% else: %}
          <option value="1mo">1 Month</option>
        {% endif %}

        {% if period == "14d": %}
          <option value="14d" selected>2 Weeks</option>
        {% else: %}
          <option value="14d">2 Weeks</option>
        {% endif %}

        {% if period == "7d": %}
          <option value="7d" selected>1 Week</option>
        {% else: %}
          <option value="7d">1 Week</option>
        {% endif %}

        {% if period == "2d": %}
          <option value="2d" selected>2 Days</option>
        {% else: %}
          <option value="2d">2 Days</option>
        {% endif %}

        {% if period == "1d": %}
          <option value="1d" selected>1 Day</option>
        {% else: %}
          <option value="1d">1 Day</option>
        {% endif %}

        {% if period == "1h": %}
          <option value="1h" selected>1 Hour</option>
        {% else: %}
          <option value="1h">1 Hour</option>
        {% endif %}
      </select>
      <input type="submit" id="submit"></input>
    </form>
  </div>
  <div class="trade">
    <a href = "{{ url_for('trade', symbol = stock_info.symbol) }}"> Trade </a>
  </div>
  <div class="info">
    <h1>{{ stock_info.name }}</h1>
    <h2>{{ stock_info.symbol }}</h2>
    <p>{{ stock_info.description }}</p>
  </div>
</body>
{% endblock %}
