<!DOCTYPE html>
{% extends 'layout.html' %}
{% block content %}
  <div class="stock_page">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      // google.charts.load('current', {'packages':['corechart']});
      // google.charts.setOnLoadCallback(drawChart);
      //
      // function drawChart() {
      //   var data = google.visualization.arrayToDataTable([
      // ['Time', 'Price'],
      // {% for data in stock %}
      //   ['{{ data[0] }}', {{ data[1] }}],
      // {% endfor %}
      //   ]);
      //
      //   var options = {
      //     title: '{{ stock_info.name }}',
      //     legend: { position: 'bottom' }
      //   };
      //
      //   var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
      //
      //   chart.draw(data, options);
      // }
  google.charts.load('current', {packages: ['corechart', 'line']});
  google.charts.setOnLoadCallback(drawBasic);

  function drawBasic() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'X');
        data.addColumn('number', 'Stock Price');

        data.addRows([
          {% for data in stock %}
            // [new Date({{ data[0].year }}, {{ data[0].month }}, {{ data[0].day }}, {{ data[0].hour }}, {{ data[0].minutes }}), {{ data[1] }}],
            ['{{ data[0].strftime('%d-%m-%Y') }}', {{ data[1] }}],
          {% endfor %}
        ]);

        var options = {

          hAxis: {
            textStyle: {
              color: '#303134'
            }

          },
          vAxis: {
            textStyle: {
              color: '#d1b039'
            }
          },

          backgroundColor: '#303134',
          colors: ['#d1b039'],
          lineWidth: 5,

        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>
  <body>
    <div id="chart_div"></div>
    <div class="info">
      <h1>{{ stock_info.name }}, ({{ stock_info.symbol }})</h1>
      <a href = "{{ url_for('trade', symbol = stock_info.symbol) }}"> Trade </a>
      <p>{{ stock_info.description }}</p>
    </div>
    <div class="option">
      <form method="POST">
        {{ form.period }}
        <input type="submit" id="submit"></input>
      </form>
        <div class="graph_info">
          <p>{% for info in price_info.items() %}
              <b>{{ info[0] }}:</b> {{ info[1] }},
          {% endfor %}</p>
        </div>
    </div>
  </div>
  <div class="bottom">
  </div>
</body>
{% endblock %}
