{% extends 'layout.html' %}
{% block content %}
  Stock Price: <b> {{ stock_price }} </b>
  User Balance: <b> {{ user_balance }} </b>
  <form method="POST">
    <select name="trade" id="trade">
      <option value="buy">Buy</option>
      <option value="sell">Sell</option>
    </select>
    <input type="number"  name="amount">Number Of Shares</input>
    <input type="submit"></input>
  </form>

  <table style="width:100%">
    <tr>
      <th>Pruchase Type</th>
      <th>Stock Traded</th>
      <th>Trade Price</th>
      <th> Trade Price Total </th>
      <th>Trade Date</th>
    </tr>
    {% for trades in recent_purchases %}
    <tr>
      <td>{{ trades.trade_type }} </td>
      <td>{{ trades.amount }} </td>
      <td>{{ trades.trade_price }} </td>
      <td>{{ trades.trade_price * trades.amount }}
      <td>{{ trades.trade_date }} </td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}
