{% extends 'layout.html' %}
{% block content %}
<div class = "content">
  <form method="POST">
    <input type="submit" name="LogOut" value="LogOut">
  </form>
  <h1>User Balance: {{ User.balance }}</h1>
  <table style="width:100%">
    <tr>
      <th>Stock</th>
      <th>Amount</th>
      <th>Stock Price</th>
      <th>Investment</th>
      <th>Value</th>
      <th>Return</th>
      <th>ROI</th>
      <th>Trade</th>
    </tr>
      {% for stock in stocks %}
      <tr>
        <td><a href =  "{{ url_for('stock', symbol = stock[3]) }}"> {{ stock[0] }} </a></td>
        <td> {{ stock[1] }} </td>
        <td> {{ stock[2] }} </td>
        <td> {{ stock[3] }} </td>
        <td> {{ stock[4] }} </td>
        <td> {{ stock[5] }} </td>
        {% if "-" in stock[6] %}
          <td style="color:red;"> {{ stock[6] }}% </td>
        {% else: %}
          <td style="color:green;"> {{ stock[6] }}% </td>
        {% endif %}
        <td><a href =  "{{ url_for('trade', symbol = stock[7]) }}"> Trade </a></td>
      </tr>
      {% endfor %}
  </table>
  <p>Portfolio Value: ${{ portfolio_value }}</p>
  <p>Your Investment: ${{ portfolio_purchase_price }}</p>
  <p>Net Profit: ${{ net_profit }}</p>
  {% if "-" in total_ROI: %}
  <p> Net ROI: <b style="color:red;"">
      {{ total_ROI }}%
    </b></p>
  {% else: %}
  <p> Net ROI: <b style="color:green;">
      {{ total_ROI }}%
    </b></p>
  {% endif %}
  <table style="width:100%">
    <tr>
      <th>Stock</th>
      <th>Pruchase Type</th>
      <th>Stock Traded</th>
      <th>Trade Price</th>
      <th> Trade Price Total </th>
      <th>Trade Date</th>
    </tr>
    {% for trades in recent_purchases %}
    <tr>
      <td>{{ trades.stock.name }} </td>
      <td>{{ trades.trade_type }} </td>
      <td>{{ trades.amount }} </td>
      <td>{{ trades.trade_price }} </td>
      <td>{{ trades.trade_price * trades.amount }}
      <td>{{ trades.trade_date }} </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
